* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #131e25;
}

.Anthony {
  color: white;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.9rem;
  cursor: pointer;
  font-family: "Bungee Shade", cursive;
}
.Anthony:hover {
  color: rgb(137, 71, 25);
}

header nav a {
  text-decoration: none;
  background-color: #999;
  display: inline-block;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: larger;
  font-weight: 700;
  color: white;
}
header nav a:hover {
  opacity: 0.8;
  color: rgb(137, 71, 25);
}
.developer {
  color: white;
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  font-family: "Rampart One", cursive;
}

#projects {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  min-height: 600px;
  margin-top: 366px;
}
#projects img {
  margin-top: 110px;
  cursor: pointer;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin-top: 1rem;
}

#projects img:hover {
  opacity: 0.5;
}

.my {
  color: white;
  text-decoration: underline;
  font-size: 3rem;
}

.contact {
  text-align: center;
  margin-top: 20rem;
  text-decoration: underline;
  font-size: 30px;
  color: white;
  display: inline;
  display: flex;
  gap: 2rem;
}
