* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #131e25;
  text-align: center;
}

.Anthony {
  color: white;

  margin-top: 3rem;
  font-size: 1.9rem;
  cursor: pointer;
  font-family: "Bungee Shade", cursive;
}
.Anthony:hover {
  color: rgb(137, 71, 25);
}

header nav a {
  text-decoration: none;
  background-color: #999;
  display: inline-block;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: larger;
  font-weight: 700;
  color: white;
}
header nav a:hover {
  opacity: 0.8;
  color: rgb(137, 71, 25);
}

#about {
  color: white;
  font-size: 3rem;
  margin-top: 15rem;
  font-family: "Rampart One", cursive;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgb(137, 71, 25);
}

.developer {
  color: white;
  margin-top: 2rem;
  font-size: 1.7rem;
  font-family: "Rampart One", cursive;
}

#projects {
  margin-bottom: 20px;
  min-height: 600px;
  margin-top: 366px;
}
#projects img {
  margin-top: 110px;
  cursor: pointer;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin-top: 1rem;
}

#projects img:hover {
  opacity: 0.5;
}

.my {
  color: white;
  border-bottom: 2px solid rgb(137, 71, 25);
  font-size: 3rem;
}

.contact {
  color: white;
  font-size: 2.5rem;
  border-bottom: 2px solid rgb(137, 71, 25);
}

div a {
  text-decoration: none;
  color: white;
  margin: 10px;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 37px;
}

div a:hover {
  color: rgb(137, 71, 25);
}

h4 {
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
}

input,
textarea,
#send {
  margin-top: 0.2rem;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgb(137, 71, 25);
  padding: 13px;
  margin-bottom: 15px;
  width: 50%;
  outline: 0;
}
