* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
}

.Anthony {
  color: white;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.9rem;
  cursor: pointer;
  font-family: "Lalezar", cursive;
}

.buton {
  font-size: 16px;
  text-decoration: none solid rgb(255, 0, 0);
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #d2b48c;
  height: 40px;
  width: 105px;
  margin: 0px 10px 10px 0px;
  display: inline-block;
  border-radius: 12px;
}
.buton:hover {
  background-color: rgb(164, 162, 162);
  color: rgb(142, 43, 43);
}
.developer {
  color: white;
  text-align: center;
  margin-top: 8rem;
  font-size: 3rem;
}
.projects {
  text-align: center;
  color: white;
  margin-top: 20rem;
  font-size: 1.7rem;
  font-style: inherit;
  text-decoration: underline;
}
.image {
  margin-top: 1rem;
  display: block;
  display: flex;
  text-align: center;
  cursor: pointer;
  height: 250px;
  width: 300px;
  margin: 25px 0 0 0;
  margin-bottom: 25rem;
}
.image:hover {
  opacity: 0.5;
}
